<!-- Header -->
{% include 'header.html' %}
<!--Header-->

<body>
  <div class="upload-container">
    <h3>Upload Files</h3>
    <input id="file_input" type="file" name="file" accept="audio/*" multiple />

    <form id="upload_form" enctype="multipart/form-data">
      <button type="button" id="upload_button" class="btn btn-primary btn-lg"> <i class="icon icon-plus"></i>
        Upload</button>
    </form>

    <div id="upload_result"></div>

    <div class="download-output">
      <div>
        <h3 style="margin: 0 auto; padding-bottom: 10px; border-bottom: 1px solid #ccc;">Download File</h3>
      </div>
      <div class="id-input"><span style="width: 25%">Voice ID:</span> <input id="upload-result"></input></div>
      <div class="description">
        <span style="font-weight: bold;">Description:</span>
        <textarea id="text-content"></textarea>
      </div>
      <div class="download-submit">
        <a id="submit-link" class="btn btn-primary btn-lg" href="#">Submit</a>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const submitLink = document.getElementById('submit-link');
      const textContentTextarea = document.getElementById('text-content');
      const uploadResultInput = document.getElementById('upload-result');

      submitLink.addEventListener('click', function (event) {
        event.preventDefault();

        const uploadResultValue = uploadResultInput.value;
        const textContentValue = textContentTextarea.value;

        // Construct the URL with the values
        const url = `/download_output?text_content=${encodeURIComponent(textContentValue)}&upload_result=${encodeURIComponent(uploadResultValue)}`;

        // Navigate to the constructed URL
        window.location.href = url;
      });
    });
  </script>
  <!-- Footer -->
  {% include 'footer-upload.html' %}
  <!--Footer-->
</body>